
/* navbar */

.navbar-brand {
    margin-left: 120px;
    font-weight: bolder;
    font-size: 35px;
}

.navbar-brand .nav-link {
    color: white;
}


.nav-link {
    margin-right: 25px;
    text-transform: uppercase;
}

.rincian p {
    font-size: 20px;
}

.tentang h3 {
    font-size: 50px;
}





/* utilities */
.tombol {
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 40px;
}

/* produk */
.produk {
    background-image: url(image/elegant-white1.png);
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
}

.seragam{
    display: flex;
    justify-content: center;
}

.card {
    background-color: white;
    width: 396px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 5px 10px;
}

.card-image {
    background-color: white;
    height: 350px;
    margin-bottom: 15px;
}

.card-1 {
    background-image: url(image/baju-mp.png);
    background-size: cover;
    border-radius: 20px;
}

.card-2 {
    background-image: url(image/celana-mp.png);
    background-size: cover;
    border-radius: 20px;
}

.card-3 {
    background-image: url(image/sabuk.png);
    background-size: cover;
    border-radius: 20px;
}

.card a {
    background-color: green;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
}

footer {
    background-image: url(image/elegant-black.png);
}

/* detil.html */
.detail {
    background-image: url(image/elegant-black.png);
    background-size: cover;
}


.breadcrumb-item {
    font-size: 18px;
}

/* bahan */
.img .size {
    
    justify-content: center;
}


.alur-pesan {
    background-image: url(image/elegant-white1.png);
    background-size: cover;
}

.alur-pesan a {
    background-color: green;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
}

/* tentang */

.pelajari a {
    background-color: green;
    color: white;
    padding: 10px 15px;
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

.about {
    background-image: url(image/elegant-white1.png);
    background-size: cover;
}

/* desktop*/
@media (max-width: 1200px) {
    



    /* .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid red;
        width: 50%;
        margin: auto;
        padding-bottom: 3px;
        margin-bottom: -6px;
    }

    .tentang:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid red;
        width: 50%;
        padding: 3px;
        margin: auto;
        padding-bottom: 3px;
        margin-bottom: -9px;
    } */


    



   

 
}


/* Tablet */
@media (max-width: 810px) {

    /* navbar */
    .navbar-brand {
        margin-right: 20px;
        margin-left: 20px;
        font-size: 30px;
        font-weight: bolder;
    }

    .produk {
        padding-top: 10px;
    }

    .nav-link {
        text-transform: inherit;
    }

    .btn {
        text-transform: inherit;
    }

    /* seragam */
    .card {
        background-color: white;
        width: 300px;
        margin: 10px;
        border-radius: 20px;
        box-shadow: 5px 10px;
    }
    
    .card-image {
        background-color: white;
        height: 200px;
        margin-bottom: 15px;
    }
    
    .card-1 {
        background-image: url(image/baju-mp.png);
        background-size: cover;
        border-radius: 20px;
    }
    
    .card-2 {
        background-image: url(image/celana-mp.png);
        background-size: cover;
        border-radius: 20px;
    }
    
    .card-3 {
        background-image: url(image/sabuk.png);
        background-size: cover;
        border-radius: 20px;
    }
    
    .card a {
        background-color: green;
        color: white;
        padding: 5px 10px;
        display: block;
        text-align: center;
        margin: 10px 30px;
        text-decoration: none;
        font-weight: bold;
    }






}

/* handphone */
@media (max-width: 450px) {
    /* navbar */
    .navbar-brand {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 19px;
        font-weight: bolder;
    }

    .navbar-toggler-icon {
        height: 15px;
        width: 15px;
    }

    /* tentang */
    .rincian p {
        font-size: 18px;
    }

    .tentang h3 {
        font-size: 25px;
    }


    
    .card {
        background-color: white;
        width: 100 px;
        margin: 10px;
        border-radius: 20px;
        box-shadow: 5px 10px;
    }

    .card-image {
        background-color: white;
        height: 100px;
        margin-bottom: 15px;
    }

    .card-1 {
        background-image: url(image/baju-mp.png);
        background-size: cover;
        border-radius: 20px;
    }

    .card-2 {
        background-image: url(image/celana-mp.png);
        background-size: cover;
        border-radius: 20px;
    }


    .card a {
        font-size: 10px;
        background-color: green;
        color: white;
        padding: 5px 10px;
        display: block;
        text-align: center;
        margin: 20px 10px;
        text-decoration: none;
    }

    .card h4 {
        font-size: 15px;
    }

    .produk {
        padding-top: 10px;
    }

}



/* small handphone */
@media (max-width: 375px) {

    /* navbar */
    .navbar-toggler-icon {
        height: 20px;
        width: 20px;
    }

    .navbar-brand {
        margin-right: 20px;
        margin-left: 20px;
        font-size: 15px;
        font-weight: bolder;
    }

    
    /* carousel */
    

    /* tentang */
    .rincian p {
        font-size: 15px;
    }

    .tentang h3 {
        font-size: 20px;
    }

    .card {
        background-color: white;
        width: 88px;
        margin: 10px;
        border-radius: 20px;
        box-shadow: 5px 10px;
    }
    
    .card-image {
        background-color: white;
        height: 70px;
        margin-bottom: 5px;
    }
    
    .card-1 {
        background-image: url(image/baju-mp.png);
        background-size: cover;
        border-radius: 20px;
    }
    
    .card-2 {
        background-image: url(image/celana-mp.png);
        background-size: cover;
        border-radius: 20px;
    }
    
    .card-3 {
        background-image: url(image/sabuk.png);
        background-size: cover;
        border-radius: 20px;
    }
    
    .card a {
        background-color: green;
        color: white;
        padding: 1px 1px;
        display: block;
        text-align: center;
        margin: 2px 2px;
        text-decoration: none;
        font-weight: bold;
        font-size: 10px;
        width: 60px;
        margin-left: 13px;
        height: 15px;
        text-align: center;
        
    }

    .card h4 {
        font-size: 12px;
        margin-bottom: 2px;
    }

    .pesan-sekarang a {
        font-size: 12px;
    }



}


