

body {
    background-color: black;
}

.card {
    border: 5px solid red;
    margin-bottom: 50px;
}



/* navbar */

.navbar-brand {

    font-weight: bolder;
    font-size: 35px;
}

.nav-link {
    text-transform: uppercase;
    margin-right: 1rem;
    font-weight: bold;
}

.tombol {
    border-radius: 10px;
    font-weight: bold;
}

/* info-panel */

.info-panel {
    background-color: white;
    margin-top: -50px;
    border-radius: 10px;
    box-shadow: 0 3px 20px rgba(252, 251, 251, 0.7);
    }

.col h2 {

    font-weight: bolder;
    font-size: 60px;
}

.col p {
    font-weight: bold;
    font-size: 30px
}

/* About us */

.about {
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 20px rgba(252, 251, 251, 0.7);

}




/* produk */

.seragam {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.seragam img {
    margin-left: 0px;
}


/* bahan */





/* pesan*/
.pesan {
    padding-top: 20px;
    padding-bottom: 20px;

}



/* footer */
.footer-mpom h4 {
    border-bottom: 3px solid white;
}



/* desktop */
@media (min-width: 992px) and (max-width: 1199.98px) {

}


/*handphone  */
@media (max-width: 575.98px) {

    .navbar-brand {

        font-weight: bolder;
        font-size: 15px;
        margin-right: -1rem;
    }

    .logo img{
        margin-right: -0.5rem;
        width: 30px;
        height: 40px;
    }

    .navbar-toggler-icon {
        width: 20px;
        height: 20px;
        
    }

    .info-panel {
        background-color: white;
        margin-top: -15px;
        border-radius: 10px;
        box-shadow: 0 3px 10px rgba(252, 251, 251, 0.7);
    }

    .navbar-nav a {
        text-transform: inherit;
    }

    .col h2 {
        margin-top: 5px;
        font-weight: bolder;
        font-size: 15px;
    }
    
    .col p {
        font-weight: bold;
        font-size: 8px
    }

    .tombol {
        border-radius: 10px;
        font-weight: bold;
        font-size: 8px;
    }

    .seragam img {
        width: 390px;
        height: 390px;
        margin-left: -20px;
    }

    

    
   

    /* bagian about */
    .col-6 h3 {
        font-size: 12px;
    
    }
    
    .col-6 p {
        font-size: 8px;
    }
    
    .col-4 img {
        margin-top: 25px;
    }

    .col-6 .tombol {
        margin-bottom: 15px;
    }

    .bahan h3 {
        font-size: 12px;

    }
    /* detail bahan */
    .detail-bahan img {
        height: 280px;
    }

    /* ukuran */
    .size {
        width: 250px;
        height: 251px;
        margin-left: 80px;
    }

    .isi_about p {
        font-size: 100px;
    }

    footer h3 {
        font-size: 25px;
    }

    footer h5 {
        font-size: 15px;
    }
    
    footer p {
        font-size: 12px;
    }




            
}
